{% extends 'sanatorium/base.html' %}
{% block content %}
<div class="filters">
    <form method="get" action="http://127.0.0.1:8000/Sanatorium/adminviews/">
            {{ us_filter.form.as_p }}
            <button type="submit">Искать</button>
    </form>
    <form method="get" action="http://127.0.0.1:8000/Sanatorium/adminviews/">
        {{ pr_filter.form.as_p }}
        <button type="submit">Искать</button>
</form>
    <form method="get" action="http://127.0.0.1:8000/Sanatorium/adminviews/">
        {{ rm_filter.form.as_p }}
        <button type="submit">Искать</button>
</form>
    <form method="get" action="http://127.0.0.1:8000/Sanatorium/adminviews/">
        {{ tp_filter.form.as_p }}
        <button type="submit">Искать</button>
</form>
</div>
<div class = "lists">
<div class = "userlist">
    <ul>
        <h2>Пользователи</h2>
        {%for user in user%}
        <li><a href="{% url 'edituser' user.id%}">{{user.first_name}} {{user.last_name}}</a></li>
        {%endfor%}
    </ul>
</div>
<div class="programlist">
    <ul>
        <h2>Программы</h2>
        {%for prog in program%}
        <li><a href="{% url 'editprogram' prog.id%}">{{prog.name}} {{prog.price}}</a></li>
        {%endfor%}
    </ul>
</div>
<div class = "roomlist">
<ul>
    <h2>Комнаты</h2>
    {%for room in room%}
    <li><a href="{% url 'editroom' room.id%}">{{room.pk}} {{room.type}}</a></li>
    {%endfor%}
</ul>
</div>
<div class="typelist">
<ul>
    <h2>Типы комнат</h2>
    {%for type in type%}
        <li><a href="{% url 'edittype' type.id%}">{{type.name}} {{type.price}}</a></li>
        {%endfor%}
</ul>
</div>
</div>
<div class = "buttoncreate">
    <div class="createuser"><button><a href="{% url 'createuser' %}"><p>Создать</p></a></button></div>
    <div class="createprogram"><button><a href="{% url 'createprogram' %}"><p>Создать</p></a></button></div>
    <div class="createroom"><button><a href="{% url 'createroom'%}"><p>Создать</p></a></button></div>
    <div class="createtype"><button><a href="{% url 'createtype' %}"><p>Создать</p></a></button></div>
</div>
{% endblock %}