{% extends 'sanatorium/base.html' %}
{% block content %}
<div class="container">
    <h2>Наше меню</h2>
    <p>Мы предлагаем разнообразное и сбалансированное питание, разработанное профессиональными диетологами. Наше меню включает полезные блюда, которые помогут вам восстановить силы и улучшить самочувствие.</p>

    <h3>Основные принципы нашего питания:</h3>
    <ul>
      <li><strong>Сбалансированность:</strong> Мы используем только свежие и натуральные продукты, чтобы обеспечить вас всеми необходимыми витаминами и минералами.</li>
      <li><strong>Индивидуальный подход:</strong> Мы учитываем ваши предпочтения и особенности здоровья при составлении меню.</li>
      <li><strong>Разнообразие:</strong> Каждый день мы предлагаем новые блюда, чтобы вы могли наслаждаться разнообразием вкусов.</li>
      <li><strong>Экологичность:</strong> Мы отдаем предпочтение местным и экологически чистым продуктам.</li>
    </ul>

    <h2>Пример меню на день</h2>
    <p>Вот пример меню, которое вы можете ожидать в нашем санатории:</p>
    <ul>
      <li><strong>Завтрак:</strong> Омлет с овощами, свежая зелень, фруктовый салат, травяной чай.</li>
      <li><strong>Обед:</strong> Борщ с говядиной, гречневая каша с овощами, свежий салат, компот из сухофруктов.</li>
      <li><strong>Ужин:</strong> Запеченная форель с овощами, рис, свежий огуречный салат, травяной чай.</li>
    </ul>

    <h2>Дополнительные услуги</h2>
    <p>Мы также предлагаем:</p>
    <ul>
      <li>Фитобар с полезными напитками (травяные чаи, смузи, свежевыжатые соки).</li>
      <li>Индивидуальные консультации с диетологом для составления персонального меню.</li>
      <li>Тематические мастер-классы по приготовлению полезных блюд.</li>
    </ul>


    <p>Мы уверены, что наше питание станет важной частью вашего отдыха и восстановления. Присоединяйтесь к нам и наслаждайтесь вкусной и полезной едой!</p>
{% endblock %}