{% extends 'sanatorium/base.html' %}
{% block content %}
    {% for type in type %}
        <h1>{{type.name}}</h1>
        <p>{{type.brify_description}}</p>
        <div class="room">
            {% for r in room%}
                {% if r.type == type%}
                    {% if r.image%}
                        <a href="{{r.get_absolute_url}}"><img src = "{{ r.image.url }}" alt = "connect" style="max-height:300px"></a>
                    {%endif%}
                {%endif%}
            {%endfor%}
        </div>
    {% endfor %}
{% endblock %}