{% extends 'sanatorium/base.html' %}
{%block content%}
    <p><strong>Имя:</strong> {% if user_profile.first_name == "None" %} Нет {% else %} {{ user_profile.first_name }}{% endif %}</p>
    <p><strong>Фамилия:</strong> {% if user_profile.last_name == "None" %} Нет {%else%} {{ user_profile.last_name }} {%endif%}</p>
    <p><strong>Отчество:</strong>{% if user_profile.middle_name == "None" %} Нет {%else%} {{ user_profile.middle_name }}{% endif %}</p>
    <p><strong>День рождения:</strong> {%if user_profile.birth_date == "None"%} Нет{%else%} {{ user_profile.birth_date }}{% endif %}</p>
    <button ><a href="editprofile/">Редактировать профиль</a></button>
{%endblock%}